*{
    padding: 0;
    margin: 0;
}

:root {
    --cor-fundoOrg: rgb(238, 242, 255);
    --cor-fundo: rgb(119, 150, 255);
    --cor-section: rgb(255, 255, 255);
    --cor-article: rgb(49, 46, 129);
    --cor-titulo: rgb(79, 70, 229);
    --cor-texto: rgb(31, 41, 55);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

section {
    display: flow-root;
    margin: 16px;
    padding: 20px;
    border-radius: 16px 0px;
    background-color: var(--cor-section);
}

article {
    background-color: var(--cor-article);
    color: var(--cor-fundo);
    border-radius: 16px;
    padding: 6px;
    margin-left: 16px;
    float: right;
    width: 300px;
    transition: 0.3s;
}

article:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5)
}

figure>img {
    display: block;
    margin: auto;
}

h1 {
    color: var(--cor-titulo);
}

p{
    line-height: 1.6;
}

header{
    background-color: var(--cor-section);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 1em;
    position: relative;
    overflow: hidden;
    z-index: 0;
    
}

li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--cor-fundo);
    transition: height 0.3s ease-in-out;
    z-index: -1;
}

li:hover::before{
    height: 100%;
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}