*{
    padding: 0;
    margin: 0;
}

:root{
    --cor-principal: rgb(154, 154, 255);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    position: sticky;
}
header, ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style-type: none;
    margin: 1em;
}

li:hover{
    color: var(--cor-principal);
}

section{
    background-color: white;
    margin: 2em 1em;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

section:hover{
    background-color: rgb(148, 252, 139);
}
p{
    line-height: 1.5em;
}

.principal{
    max-width: 500px;
    margin: 2em auto;
}

.inline>p, h2, img{
    display: inline;
    text-align: start;
}

.inline-block>p, h2, img, span{
    display: inline-block;
    text-align: start;
}


section.grid{
    display: grid;
    grid-template-rows: 100px auto 50px;
    grid-template-columns: 300px auto;
    
}
.grid>h2{
    display: grid;
}

span{
    background-color: aqua;
    margin: 0.5em;
}

.quadrado-pequeno{
    width: 2em;
    height: 2em;
}

.quadrado-medio{
    width: 3em;
    height: 3em;
}

.quadrado-block{
    display: block;
}

.quadrado-inline{
    display: inline;
    padding: 0 1em 2em;
}

a{
    text-decoration: none;
}